# Konfigurasi Port Server Backend
PORT=5000

# Konfigurasi Database MySQL (MySQL 8.4 LTS Remote Server)
DB_HOST=108.136.70.118
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=AdminPassword2026!
DB_NAME=bursalimbahdb

# Kunci Rahasia Sesi (Opsional)
SESSION_SECRET=bursalimbah_secure_key_2026
